/* Med Bechir - Dark mode */


body {
    background-color: #03070d;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #e0e0e0;
}

p {
    background-color: #03070d;
}

header nav a, header .rl a, section#about .content p, .features-grid p {
    color: #a0a0a0;
}

.features-grid h3, header nav :first-child  {
    color: #5e89ff;
}
/*
.features-grid .image {
    background-color: white;
    border-radius: 50px;
}*/

header .rl a:first-child{
    background-color: #5e89ff;
}

footer p {
    color: white;
}


/* dashboard */


.dash-nav, .dash-header, .dash-slider {
    background-color: #13171e;
}

.dash-p {
    background-color: transparent;
    color: #e0e0e0;
}

.dash-nav div:hover,  .dash-nav .active {
    border-color: #5e89ff;
}

.dash-nav div i,.dash-nav div p {
    color: #e0e0e0;
}

.dash-nav div:hover i, .dash-nav div:hover p, .dash-nav .active i , .dash-nav .active p {
    color: #5e89ff;
}

.dash-slider article {
    display: none;
}